<div id="paragraph-form-template" class="form-horizontal paragraph-form" style="display:none">
  <div class="form-group">
    <div class="col-md-12">
      <textarea class="paragraph-text form-control" row="20"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
      <button class="form-control" onclick="paragraph.edit()">Submit</button>
    </div>
    <div class="col-md-6">
      <button class="form-control" onclick="paragraph.edit('cancel')">Cancel</button>
    </div>
  </div>
</div>
